{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>
    Drivers
    {% if user not in car.drivers.all %}
      <a href="{% url 'taxi:car-driver-action' pk=car.id action='assign' %}" class="btn btn-success link-to-page">
        Assign me to this car
      </a>
    {% else %}
      <a href="{% url 'taxi:car-driver-action' pk=car.id action='remove' %}" class="btn btn-secondary link-to-page">
        Delete me from this car
      </a>
    {% endif %}
  </h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>
        <p>Username: {{ driver.username }}</p>
        <p>Fullname: {{ driver.first_name }} {{ driver.last_name }}</p>
        <p>License number: {{ driver.license_number }}</p>
      </li>
      <hr>
    {% endfor %}
  </ul>
  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">
    Update
  </a>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
    Delete
  </a>
{% endblock %}
