{% extends "base.html" %}

{% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <h4><li style="color: mediumblue" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h4>
    {% endfor %}
  </ul>
  {% endif %}

  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary">
      + add new car
    </a>
  </h1>
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}

{% endblock %}
