{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}

  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h3>Drivers
    {% if request.user not in car.drivers.all %}
      <a href="{% url "taxi:assign-driver" pk=car.id %}" class="btn btn-success link-to-page">
        Assign me to this car
      </a>
    {% else %}
      <a href="{% url "taxi:remove-driver" pk=car.id %}" class="btn btn-danger link-to-page">
        Delete me from this car
      </a>
    {% endif %}
  </h3>
   {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted"> {{ driver.id }}</p>
      <p><strong>Username:</strong> {{ driver.username }}</p>
      <p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
      <p><strong>License number:</strong> {{ driver.license_number }}</p>
    {% endfor %}


{% endblock %}

