{% extends "base.html" %}

{% block content %}
  <h1>
    Car list
    <a style="float:right" href="{% url 'taxi:car-create' %}">
      <button class="btn btn-outline-primary" type="button">Create</button>
    </a>
  </h1>
  <br>

  {% if car_list %}
    <ul style="list">
      {% for car in car_list %}
        <li>
          <a href="{% url 'taxi:car-detail' pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}

{% endblock %}
