{% extends "base.html" %}
{% block content %}
  <h3>
    Are you sure you want to delete
    your driver license: {{ driver.license_number }}?
  </h3>
  <br>
  <div class="row">
    <form action="{% url 'taxi:driver-confirm-license-delete' driver.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger btn-lg mr-lg-5" type="submit" value="Delete">
    </form>
    <form action="" method="post" onclick="history.back()">
      {% csrf_token %}
      <input class="btn btn-info btn-lg ml-lg-4" type="button" value="Cancel">
    </form>
  </div>
{% endblock %}
