{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <h1 class="header-warning">Do you really want to disassign you from this car?</h1>
  <form action="" method="post">
    {% csrf_token %}
    <div class="buttons-confirm">
  <a href="{% url 'taxi:driver-detail'  driver_id %}">
    <button class="btn btn-primary">Return</button>
  </a>
  <a href="{% url 'taxi:driver-assign-confirm' driver_id %}">
    <button type="submit" class="btn btn-danger">Disassign</button>
  </a>
  </div>
  </form>
{% endblock %}
