{% extends "base.html" %}

{% block content %}
  <h1>User Profile: {{ driver.username }}</h1>

  <div class="user-details">
    <p><strong>First Name:</strong> {{ driver.first_name }}</p>
    <p><strong>Last Name:</strong> {{ driver.last_name }}</p>
    <p><strong>License Number:</strong> {{ driver.license_number }}</p>
    <p><strong>Is Staff:</strong> {{ driver.is_staff }}</p>
  </div>

  <div class="cars-section mt-3">
    <h2>Cars</h2>

    {% for car in driver.cars.all %}
        <div class="car-details">
            <hr>
            <p><strong>Model:</strong> {{ car.model }}</p>
            <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
            <p class="text-muted"><strong>ID:</strong> {{ car.id }}</p>
        </div>
    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>

  <div class="action-buttons mt-3">
    <a href="{% url 'taxi:driver-license-update' driver.id %}" class="btn btn-primary">Update License</a>
    <a href="{% url 'taxi:driver-delete' driver.id %}" class="btn btn-danger">Delete Driver</a>
  </div>
{% endblock %}
