body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;

}

.button_style{
    text-decoration: none;
    color: white;
}
.button_style:hover{
    text-decoration: none;
    color: white;
}
.driver-info {
  margin-bottom: 30px; /* Добавляем отступ между каждым водителем */
}





