body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.head_driver {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-right: 25vw;
    font-weight: bold;
}